			#container{
				overflow-x: hidden;
				overflow-y: hidden;
				position: absolute;
			}
			.pic_part{
				position: absolute;
				padding: 0px;
				margin: 0px;
			}
			.pic{
				margin: 0px;
			}
			#carousel{
				position: absolute;
			}
			.indicator{
				z-index:10; 
			}
			.indicators_panel{
				background-color:transparent;
				position:absolute;
			}
			#indicator_container{
				position:absolute;
			}
			#right_arrow{
				position:absolute;
				background-color:transparent;
			}
			#right_arrow:hover{
				cursor:pointer;
			}
			#left_arrow{
				display:none;
				position:absolute;
				background-color:transparent;
			}
			#left_arrow:hover{
				cursor:pointer;
			}
			#title{
				position: absolute;
				color:rgb(225, 230, 237);
				font-family: 'Antic', sans-serif;
				z-index:11;
			}
			.planet_title{
				position:absolute;
				font-size:450%;
				font-family: 'Rajdhani', sans-serif;
				color: lime;
				z-index:12;
			}
			.planet_description{
				position:absolute;
				font-family: 'Rajdhani', sans-serif;
				color: rgb(156, 255, 164);
			}	
			.learn_more_btn{
				position: absolute;
				font-family: 'Rajdhani', sans-serif;
				color: white;
				border: ridge 1px rgb(19, 191, 31);
				border-radius: 20px;
				text-align: center;
				padding-top: 7px;
				background-color: rgb(19, 191, 31);
				text-decoration:none;
			}
			.learn_more_btn:hover{
				cursor: pointer;
				color: rgb(19, 191, 31);
				background-color: white;
				border-color: white;
				text-decoration: none;
			}
			.learn_nore_btn:visited{
				text-decoration: none;
			}
			#nav_menu{
				position:absolute;
				height:30px;
				width:450px;
				z-index: 13;
			}
			.nav_link{
				color:rgb(201, 201, 201);
				font-family: 'Antic', sans-serif;
				font-size:85%;
				text-decoration: none;
			}
			.nav_link:visited{
				color: rgb(201, 201, 201);
				text-decoration: none;
			}	
			.nav_link:hover{
				color: lime;
				text-decoration: underline;
			}
			.whitespaces{
				display:inline;
			}
			#about_space{
				position: absolute;
				font-family: 'Rajdhani', sans-serif;
				color: rgb(112, 112, 112);
				font-size:230%;
				height:50px;
				width:200px;
				
			}
			#small_about_space{
				font-size:90%;
				position: absolute;
				font-family: 'Rajdhani', sans-serif;
				color: rgb(112, 112, 112);
				height:30px;
				width:600px;
			}
			#about_line{
				position:absolute;
				height:20px;
				width:30px;
			}
			
			.icon_section{
				height:300px;
				width:250px;
				position:absolute;
			}
			
			.small_icon_heading{
				font-family: 'Rajdhani', sans-serif;
				font-size: 130%;
				color: black;
				text-align:center;
			}
			
			.small_icon_description{
				font-family: 'Rajdhani', sans-serif;
				font-size: 95%;
				color: rgb(112, 112, 112);
			}
			
			.icon_img{
				margin-left:70px;
				border: solid 0.5px rgb(235, 235, 235);
				border-radius:70px;
				background-color:rgb(235, 235, 235);
			}
			
			.icon_img:hover{
				background-color:rgb(184, 255, 218);
				cursor:pointer;
				border-color:rgb(184, 255, 218);
			}
			
			.active{
				background-color: rgb(5, 235, 115);
				cursor:default;
				border-color: rgb(5, 235, 115);
			}
			
			#icon_section_learnmore_btn{
				position: absolute;
				font-family: 'Rajdhani', sans-serif;
				color: white;
				border: ridge 1px rgb(19, 191, 31);
				border-radius: 20px;
				text-align: center;
				padding-top: 7px;
				background-color: rgb(19, 191, 31);
				width:100px;
				height:28px;
				font-weight:bold;
			}
			#icon_section_learnmore_btn:hover{
				cursor: pointer;
				color: rgb(19, 191, 31);
				background-color: white;
				border-color: white;
			}
			.internal_bottom_p{
				width:300px; 
				height:300px; 
				font-family:'Rajdhani', sans-serif;
				position:absolute;
			}
			.bottom_header{
				position:absolute;
				font-family:'Rajdhani', sans-serif;
			}
			#bottom_img_2{
				position:absolute;
				left: 600px;
			}
			#bottom_btn_1{
				top:400px !important;
				left:1075px !important;
			}
			#bottom_btn_2{
				top:400px !important;
				left:225px !important;	
			}
			body{
				margin: 0px;
				overflow-x: hidden;
			}