body{
				margin-left:136px;
				margin-right:136px;
				margin-top:0px;
			}
			
			#logoid{
				position: relative;
				top: -5px;
				border-right: solid 0.5px gray;
				height: 22.5px;
				padding:12px 20px 12px 20px;
				margin: 0px;
			}
			
			#longer_button{
				padding:12px 70px 12px 20px;
			}
			

			#search_box{
				position:relative;
				left: 1000px;
				top: -52px;
				float: left;
				width:160px;
				height:25px;
				
				font-weight:bold;
				
				background-color: rgb(205, 209, 209);
				
				border-width: 0px;
			}

			.top_options{
				padding:12px 20px 12px 20px;
				margin: 0px;
				
				float:right;
				
				border-right: solid 0.5px gray;

				
				font-family: 'Noto Sans JP', sans-serif;
				color:black;
				font-weight:bold;
				font-align:centre;
				font-size: 75%;
				
				height:12px;
				
				position: relative;
				left: -300px;
				
			}
			
			/*IMPORTANT NEW SYNTAX*/
			
			p.top_options:hover{
				border-bottom: solid 4px green;
			}
			
			a{
				cursor:pointer;
				text-decoration:none;
			}
			
			#bigredbox{
				font-family: 'Noto Sans JP', sans-serif;
				font-size:40px;
				color:white;
				
				border-top: solid 2px white;
				margin: 0px;
				width:1800px;
				height:100px;
				background-color: rgb(189, 15, 15);
				
				position: relative;
				top:-20px;
				left:-150px;
			}
			
			.redboxbutton{
				float:left;
				padding:0px 12px 0px 12px;
				margin: 0px;
				
				border-right: solid 0.5px gray;
				
				font-family: 'Noto Sans JP', sans-serif;
				color:black;
				font-align:centre;
				font-size: 82.8%;
				color:white;
				
				position:relative;
				top:-55px;
			}
			
			p.redboxbutton:hover{
				border-bottom: solid 4px white;
			}
			
			p#redbox_morebutton:hover{
				background-color: rgb(52, 59, 53);
				border: none;
			}
			
			p#tech_text{
				color: rgb(52, 59, 53);
				font-size:120%;
				font-family: 'Noto Sans JP', sans-serif;
				
				position:relative;
				top: -40px;
				left: -1210px;
				
				border-bottom: solid 3px rgb(189, 15, 15);
				float:right;
			}
			
			
			#big_pic{
				float:right;
				width: 480px;
				height: 270px;
				position:absolute;
				left: 150px;
				bottom: 315px;
			}
			
			#big_pic_big_text{
				font-family: 'Noto Sans JP', sans-serif;
				font-size: 160%;
				font-weight: bold;
				color: gray;
				float:right;
				position:absolute;
				width:450px;
				height:200px;
				top: 460px;
				right: 930px;
			}
			
			#big_pic_big_text:hover{
				color: rgb(50, 94, 168);
				text-decoration: underline;
			}
			
			#big_pic_small_text{
				font-family: 'Noto Sans JP', sans-serif;
				font-size: 85%;
				color: gray;
				float:right;
				position:absolute;
				width:450px;
				height:200px;
				top: 540px;
				right: 930px;
			}	
			
			<!-- Small News Class definitions begins here ↓↓↓ -->
			
			
			img.small_pic{
				float: left;
			}
		
			.medium_text{
z
				font-size: 95%;
				font-weight: bold;
				color: gray;
				width:240px;
				height:50px;
				

			}
			
			.medium_text:hover{
				color: rgb(50, 94, 168);
				text-decoration: underline;
			}
			
			.small_text{
				font-family: 'Noto Sans JP', sans-serif;
				font-size: 82%;
				color: gray;
				float:left;
				width:240px;
				height:100px;
				font-align:centre;
				

			}	
			<!-- 1st small news position-->
			img#small_pic_1{
				position:relative;
				border: solid 3px red;
			}
			
			#medium_text_1{
				position: absolute;
				top: 165px;
				left: 510px;
			}
			
			#small_text_1{
				position:absolute;
				top: 220px;
				left: 510px;
			}
			<!-- 2nd small news position-->
			img#small_pic_2{
				position: relative;
				top:425px;
				left: 770px;
			}
			
			#medium_text_2{
				position:absolute;
				top: 165px;
				left: 760px;
			}
			
			#small_text_2{
				position:absolute;
				top: 220px;
				left: 760px;
			}
			<!-- 3rd small news position -->
			
			img#small_pic_3{
				position: relative;
				top: 425px;
				left: 1210px;
			}
			
			#medium_text_3{
				position:absolute;
				top: 165px;
				left: 1010px;
			}
			
			#small_text_3{
				position:absolute;
				top: 220px;
				left: 1010px;
			}
			<!-- More general positionings -->
			.small_pic{
				position:relative;
				left: 500px !important;
			}
			
			div#small_news{
				position:relative;
				top: 7px;

			}
			
			.small_pic{
				position: relative;
				left: 510px;
			}
			

			
			img#small_pic_2{
				position:relative;
				left: 515px;

			}
			
			img#small_pic_3{
				position:relative;
				left: 517px;

			}
			
			<!-- Small News 1 Class definitions end here ↑↑↑ -->
			
			div.small_news_2{
				position:relative !important;
				top:300px !important;
			}
