			body{
				overflow-x: hidden;
				overflow-y: hidden;
				background-color:rgb(191, 244, 255);
			}
			.in{
				background-color:rgb(58, 58, 207);
				font-size:16px;
				text-align:center;
				border: ridge 2px rgb(163, 255, 214);
				border-radius:5%;
				font-family: "Orbitron";
				color:rgb(255, 145, 188);
				height:15%;
				width:70%;
				position:absolute;
				top:25%;
				left:15%;
			}

			.in:focus{
				outline:none;
			}			
			
			.btn{
				background-color:rgb(58, 58, 207);
				font-size:16px;
				text-align:center;
				border: ridge 2px rgb(163, 255, 214);
				border-radius:5%;
				font-family: "Orbitron";
				padding:10 85 10 85;
				color:rgb(255, 145, 188);
				position:absolute;
				-webkit-transition:background 0.4s;
				-moz-transition:background 0.4s;
				-o-transition:background 0.4s;
				transition:background 0.4s;
			}
			
			.btn:hover{
				cursor:pointer;
				background-color:rgb(28, 255, 160);
				color:rgb(58, 58, 207);
			}

			#new_btn{
				top:30%;
				left:23%;
			}
			#returning_btn{
				top:55%;
				left:23%;
				padding:10 60 10 60;
			}
	
			#gear_big{
				position:absolute;
				top:59.55%;
				left:0.520833%;
				width:15.625%;
			}
			
			#gear_small{
				position:absolute;
				top:59.55%;
				left:15.416666%;
				width:7.8125%;
			}
		
			#wall_div{
				width:130%;
				height:35%;
				position:absolute;
				top:32.5%;
				background-color:rgb(52, 195, 235);
				opacity:0.8;
				left:-1.04166%;
			}

			.boxdiv{
				width:25%;
				height:25%;
				position:absolute;
				top:36%;
				left:110%;
				display:none;
				border: ridge 15px cyan;
				border-radius:5%;
				background-color: rgb(155, 133, 242);
				color:rgb(0, 255, 255);
				padding: 5px 5px;
				font-size:24;
				font-family: "Orbitron";
				text-align: center;
			}
	
			#boxdiv1{
				left:38%; !important;
				display:block; !important;
			}

			

			#reg_uniqueid{
				font-size:16;
				color:blue;
			}

			.next_btn{
				height:50px; 
				width:50px; 
				position:absolute;
				top:48%;
				left:50%;
			}
			.next_btn:hover{
				cursor:pointer;
			}

			.back_btn{
				position:relative;
				height:50px;
				width:50px;
				top:30%;
				float:left;
				padding:0px;
				margin:0px;
				left:45%;
			}
			.back_btn:hover{
				cursor:pointer;
			}

			#err_p{
				position:absolute;
				color:red;
				font-family:"Orbitron";
				text-align:center;
				font-size:18;
				height:3.2967%;
				width:20.83333%;
				top:56%;
				left:41%;
				background-color:rgb(255, 184, 207);
				border: ridge 4px red;
				display: none;
			}

			.options_div {
				background:transparent;
				position:relative;
				width:50%;
				height:31%;
				border-style:ridge;
				border-width:1.2605%;
				border-color:cyan;
				border-radius:25px;
				-webkit-transition:background 0.4s;
				-moz-transition:background 0.4s;
				-o-transition:background 0.4s;
				transition:background 0.4s;
			}
			.options_div:hover {
				background:rgb(168, 235, 255);
				cursor:pointer;
			}
			.usr_option_div{
				position:relative;
				margin:1px;
				padding:0px;
				width:30%;
				height:15%;
				float:left;
				text-align:center;
				background:transparent;
				-webkit-transition:background 0.4s;
				-moz-transition:background 0.4s;
				-o-transition:background 0.4s;
				transition:background 0.4s;
			}

			.usr_option_div:hover{
				background:rgb(51, 4, 107);
				cursor:pointer;
			}
			@media screen and (min-width: 1850px), screen and (min-height:900px) {
			  	.usr_option_div {
			    		font-size: 15px;
			  	}
			}
			@media screen and (min-width:1400px) and (max-width: 1849px), screen and (min-height:700px) and (max-height:899px){
			  	.usr_option_div {
			    		font-size: 13px;
			  	}
			}
			@media screen and (min-width:1000px) and (max-width: 1399px), screen and (min-height:500px) and (max-height:699px){
			  	.usr_option_div {
			    		font-size: 11px;
			  	}
			}
			@media screen and (max-width: 999px), screen and (max-height:499px){
			  	.usr_option_div {
			    		font-size: 9px;
			  	}
			}

			#usr_setting_in{
				background-color:rgb(58, 58, 207);
				font-size:16px;
				text-align:center;
				border: ridge 2px rgb(163, 255, 214);
				border-radius:5%;
				font-family:'Orbitron';
				color:rgb(255, 145, 188);
				height:15%;
				width:50%;
				position:relative;
				float:top;
				top:10%;
				left:0%;
				padding:0px;
				margin:0px;
			}

			#deleteacc{
				color:red; !important;
			}

			#usr_setting_btn:hover{
				cursor:pointer;
			}
